* {
    image-rendering: pixelated;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    flex-flow: column;
    align-items: center;
    overflow: hidden;
}

footer, .shell-header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    height: 48px;
    color: white;
    background-color: black;
}

.shell-header {
    justify-content: space-around;
}

#page-top {
    scroll-snap-align: start;
    padding-top: 12px;
}

#page-scores {
    scroll-snap-align: start;
}

.page-break {
    scroll-snap-align: start;
    padding-top: -12px;
}

h1 {
    font-size: xx-large;
    text-align: center;
}

h3 {
    font-size: large;
    text-align: center;
    margin-bottom: 2.5%;
}

br {
    display: block;
    content: "";
    margin-top: 12px;
}

a {
    color: aqua;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

label {
    pointer-events: none;
    position: absolute;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 20px;
    color: white;
    background-color: rgba(0,0,0, 0.25);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.625);
}

.header-button {
    border-left: 1px solid aqua;
    border-right: 1px solid aqua;
    width: 20%;
}

.header-button > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.backImg {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.page-wrap {
    height: calc(100vh - 48px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-color: black grey;
}

.area {
    background-color: aquamarine;
    border: 1px solid black;
}


.menu {
}

.menu-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: calc(100vh - 96px);
}


.card {
    text-decoration: none; 
    display: flex;
    font-size: xx-large;
    font-weight: bolder;
    margin: 2.5%;
    width: 40%;
    height: calc(95% - 28px);
    border: 1px solid black;
    color: black;
    background-color: aquamarine;
}

.card > h1 {
    z-index: 1;
    width: 100%;
}

.thumb {
    flex: 1 1 0;
    aspect-ratio: 1 / 1;
    max-width: 90%;
    height: 50%;
    margin: 5%;
}

.card-score {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 16px 4px;
    margin: 0 5%;
    background-color: black;
    color: white;
    font-size: x-large;
}

.card-container {
    flex: 1 1 0;
    width: 100%;
}

.game-machine {
    flex: 1 1 0;
    height: auto;
    width: calc(0.68 * 100vh);
    max-width: 100vw;
    margin: auto;
}

#gameEl {
    display: flex;
    flex-flow: column;
    flex: 1 1 0;
    margin: 0px; 
    height: calc(100vh - 68px);
}

.game-header {
    position: relative;
    outline: black solid 1px;
    right: 5%;
    width: 110%;
    height: 48px;
    padding: 4px;
}

#headerEl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game-window {
    background: 
        linear-gradient(180deg, rgba(255,255,255,0.25), rgba(0,0,0, 1)),
        linear-gradient(90deg,  rgba(255,255,255,0.25), rgba(0,0,0, 0.5)),
        linear-gradient(270deg, rgba(255,255,255,0.25), rgba(0,0,0, 0.5)),
        linear-gradient(0deg,   rgba(255,255,255,0.25), rgba(0,0,0, 1));
    position: relative;
    aspect-ratio: 1 / 1;
    flex: 1 1 0;
    container-type: inline-size;
    container-name: box;
    display: flex;
}

#gameDisplayEl {
    position: absolute;
    height: 384px;
    width:  384px;
    top:  calc(50% - 192px);
    left: calc(50% - 192px);
    margin: auto;
    display: grid;
    grid-template-rows:    32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
    grid-template-columns: 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
    background-color: black;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.75);
}

#startBtnEl {
    z-index: 1;
    position: absolute;
    height: 384px;
    width:  384px;
    top:  calc(50% - 192px);
    left: calc(50% - 192px);
    font-size:xx-large;
}

#scoreEl {
    font-size: 32px;
}

.sprite {
    height: 32px;
    width: 32px;
}

.tile {
    z-index: 0;
}

.point {
    z-index: 1;
}

#player, .player {
    z-index: 2;
}

.game-pad {
    position: relative;
    outline: black solid 1px;
    right: 5%;
    width: 110%;
    flex: 1 1 0;
    container-type: inline-size;
    container-name: controller;
}

#gameControllerEl {
    display: flex;
    flex-flow: row;
    height: 100%;
    width: 100%;
    padding: 1%;
}

.button {
    flex: 2 1 0;
    padding: 1%;
    margin: 2px
}

.game-scores {
    position: relative;
    outline: black solid 1px;
    right: 5%;
    width: 110%;
    display: flex;
    flex-flow: column;
    height: calc(100vh - 146px);
}

.game-scores > h1{
    margin: 32px 32px 0 32px;
    background-color: black;
    color: white;
}

.score-card {
    display: flex;
    align-items: center;
    margin: 0 32px;
    width: calc(100% - 64px);
    background-color: black;
}

.score-instance {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 4px 40px;
    padding: 2px 4px;
    color: white;
    font-size: xx-large;
}
.score-value, .score-alias {
    text-transform: uppercase;
}

.score-pagination {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li > a {
    margin: 2px;
    padding: 2px;
    width: 100%;
    background-color: black;
}

.game-footer {
    height: 32px;
    position: relative;
    outline: black solid 1px;
    right: 5%;
    width: 110%;
}

@media  screen and (max-width:388px),
        screen and (max-height: 574px){
    
    .game-machine {
        width: calc(0.52 * 100vh);
        min-width: 192px;
    }

    .game-scores > h1{
        font-size: large;
    }

    .score-instance {
        margin: 1px 3px;
        font-size: medium;
    }
}

@media  screen and (max-width:379px){
    .menu-row {
        flex-flow: column;
        align-items: center;
        height: auto;
    }

    .card {
        font-size: large;
        font-weight: bold;
        width: 95%;
        height: calc(100vh - 112px);
    }
}


@media  screen and (max-width:193px),
        screen and (max-height: 379px){
    .page-wrap > * { display: none; }
}

@container box (min-width: 576px){
    #startBtnEl {
        height: 576px;
        width:  576px;
        top:  calc(50% - 288px);
        left: calc(50% - 288px);
        font-size: xx-large;
    }
    #gameDisplayEl {
        height: 576px;
        width:  576px;
        top:  calc(50% - 288px);
        left: calc(50% - 288px);
        grid-template-rows:    48px 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px;
        grid-template-columns: 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px;
    }

    #scoreEl { font-size: 48px; }

    .sprite {
        height: 48px;
        width: 48px;
    }
}

@container box (max-width: 384px){
    #startBtnEl {
        height: 192px;
        width:  192px;
        top:  calc(50% - 96px);
        left: calc(50% - 96px);
        font-size:x-large;
    }
    #gameDisplayEl {
        height: 192px;
        width: 192px;
        top:  calc(50% - 96px);
        left: calc(50% - 96px);
        grid-template-rows:    16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px;
        grid-template-columns: 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px;
    }

    #scoreEl { font-size: 16px; }

    .sprite {
        height: 16px;
        width: 16px;
    }
}