* {
    image-rendering: pixelated;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    flex-flow: column;
    align-items: center;
    overflow: hidden;
}

footer, .shell-header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    height: 48px;
    color: white;
    background-color: black;
}

.shell-header {
    justify-content: space-around;
}

.header-button {
    border-left: 1px solid aqua;
    border-right: 1px solid aqua;
    width: 20%;
}

.header-button > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

a {
    color: aqua;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

label {
    pointer-events: none;
    position: absolute;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 20px;
    color: white;
    background-color: rgba(0,0,0, 0.25);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.625);
}

h1 {
    font-size: xx-large;
    text-align: center;
}

br {
    display: block;
    content: "";
    margin-top: 12px;
}

.backImg {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.page-wrap {
    height: calc(100vh - 48px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-color: black grey;
}

.area {
    background-color: aquamarine;
    border: 1px solid black;
}

.score-value, .score-alias {
    text-transform: uppercase;
}

@media  screen and (max-width:193px),
        screen and (max-height: 379px){
    .page-wrap > * { display: none; }
}
