{% load static %}

{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Styles-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block head_el %}
        <title>Capstone Arcade</title>
        <!--Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.PNG' %}">
    {% endblock head_el %}
</head>
<!--* Shell-->
<body>
    <!--Navigation -->
    <nav class = "shell-header">
        <a href="{% url 'home' %}" class = "header-button {% if request.path == home_url %}dull{% endif %}">
            <label for="home">HOME</label>
            <img src = "{% static 'images/favicon.PNG' %}" alt="home button" name="home">
        </a>
        <span class = "title">CA</span>
        <div class = "header-span">
        {% if user.is_authenticated %}
            <small class = "user-span">Signed in as {{ user }}</small>
            <a href="{% url 'account_logout' %}" class = "header-button log-out {% if request.path == logout_url %}dull{% endif %}">
                <label for="log-out">LOG-OUT</label>
                <i name="log-out"></i>
            </a>
        {% else %}
            <a href="{% url 'account_login' %}" class = "header-button {% if request.path == login_url %}dull{% endif %}">
                <label for="log-in">LOG-IN</label>
                <i name="log-in"></i>
            </a>
            <a href="{% url 'account_signup' %}" class = "header-button {% if request.path == signup_url %}dull{% endif %}">
                <label for="register">REGISTER</label>
                <i name="register"></i>
            </a>
        {% endif %}
        </div>
    </nav>
    <!--Navigation End-->
    <div class = "page-wrap">
        <!--Page Content-->
        {% block content %}


        {% endblock content %}
        <!--Page Content End-->
        <footer>
            <p>Capstone Arcade - created by <a href="https://github.com/HerbieJames">Herbie James</a><p>
        </footer>
    </div>
</body>
<!--* Shell End-->
</html>