:root {
    --font-game: 'Courier New', Courier, monospace;
    --font-page: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
 
* {
    image-rendering: pixelated;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-page)
}

body {
    flex-flow: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
    background: url(/static/images/lunacityarcade.jpeg) no-repeat fixed center;
    background-size: cover;
}

footer, .shell-header, .home-header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 48px;
    color: white;
    background-color: black;
}

footer { 
    border-top: 1px solid white;
}

.shell-header {
    justify-content: space-between;
}

.header-span {
    display: flex;
    flex-flow: row;
    height: 100%;
    right: 0;
}

.header-span > small {
    z-index: 1;
    position: absolute;
    height: 1em;
    right: 4px;
    text-wrap: nowrap;
    font-size: 0.75em;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-game);
    font-size: 48px;
    font-weight: bolder;
    text-shadow: 2px 5px 5px red;
}

.header-button {
    box-shadow: inset 0px 0px 16px 12px black;
    width: 25vw;
    height: 100%;
    background-color: aqua;
}

.header-button > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.log-out {
    position: relative;
    height: calc(100% - 0.70em);
    top: 0.70em;
}

a {
    color: aqua;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.header-button > span {
    z-index: 2;
    pointer-events: none;
    position: absolute;
    font-weight: lighter;
    font-size: small;
    text-shadow: 0px 0px 3px black;
    border-radius: 20px;
    color: white;
    background-color: rgba(0,0,0, 0.5);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

.dull {
    pointer-events: none;
}

.dull > label {
    color: rgba(0,0,0, 0.25);
}

.button, .header-button, a {
    z-index: 3;
}

h1 {
    font-size: xx-large;
    text-align: center;
}

br {
    display: block;
    content: "";
    margin-top: 12px;
}

.page-wrap {
    height: calc(100vh - 48px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-color: black grey;
}

.score-value, .score-alias {
    font-family: var(--font-game);
    text-transform: uppercase;
}

.img-div {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 5em;
    margin: 0.1em;
}

.img-div > img {
    position: relative;
    bottom: 10%;
    height: 100%;
}

@media  screen and (max-width:547px){
    .title { font-size: 36px; }
}

@media  screen and (max-width: 288px),
        screen and (max-height: 486px){
    .page-wrap > * { display: none; }
}
