{% extends "game/game.html" %}

{% load static %}

{% block tab_title %}
    <title>Frogger - Capstone Arcade</title>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'images_frogger/frog1.PNG' %}">
{% endblock tab_title %}

{% block header %}
    <!--Frogger Header-->
    <div class="headerEl">
        <h1>Frogger</h1>
    </div>
    <!--Frogger Header End-->
{% endblock header %}

{% block controls %}
    <!--Frogger Controls-->
    <div id = "gameControllerEl">
        <button class= "button" id="btnLeftEl" onclick="tryStartUp()">←, A</button>
        <div style="display:flex; flex-flow:column; flex: 1 1 0;">
            <button class= "button" id="btnUpEl" onclick="tryStartUp()">↑, W, Space</button>
            <button class= "button" id="btnDownEl" onclick="tryStartUp()">↓, S</button>
        </div>
        <button class= "button" id="btnRightEl" onclick="tryStartUp()">→, D</button>
    </div>
    <script src="{% static 'js/frogger.js' %}" defer></script>
    <script> const ImgsPath = "{% static 'images_frogger/' %}"; </script>
    <!--Frogger Controls End-->
{% endblock controls %}