{% extends "game/game.html" %}

{% load static %}

{% block tab_title %}
    <title>Frogger - Capstone Arcade</title>
{% endblock tab_title %}

{% block header %}
    <!--Frogger Header-->
    <div class="headerEl">
        <h1>Frogger<h1>
    </div>
    <!--Frogger Header End-->
{% endblock header %}

{% block controls %}
    <!--Frogger Controls-->
    <link rel="prefetch" href="{% static 'js/frogger.js' %}"/>
    <div id = "gameControllerEl">
        <button class= "button" id="btnLeftEl">←, A</button>
        <div style="display:flex; flex-flow:column; flex: 1 1 0;">
            <button class= "button" id="btnUpEl">↑, W, Space</button>
            <button class= "button" id="btnDownEl">↓, S</button>
        </div>
        <button class= "button" id="btnRightEl">→, D</button>
    </div>
    <script src="{% static 'js/frogger.js' %}" defer></script>
    <script> const ImgsPath = "{% static 'images_frogger/' %}"; </script>
    <!--Frogger Controls End-->
{% endblock controls %}

{% block scores %}
    <!--Frogger Scores-->
    <article class = "area game-scores">
        <h1>Hi-Scores</h1>
        {% for score in object_list %}
            <div class = "score-card">
                <p class="score-instance">
                    <span class="score-value">{{score.value}}</span>
                    <span class="score-alias">{{score.alias}}</span>
                </p>
            </div>
        {% endfor %}
    </article>
    {% if is_paginated %}
        <nav class = "area" aria-label="Page navigation">
            <ul class="score-pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> PREV &raquo;</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    <!--Frogger Scores End-->
{% endblock scores %}