{% extends "base.html" %}

{% load static %}

{% block head_el %}
    <!--Styles-->
    <link rel="stylesheet" href="{% static 'css/gameStyles.css' %}">
    {% block tab_title %}
        <title>G A M E - M A C H I N E</title>
    {% endblock tab_title %}
{% endblock head_el %}

{% block content %}

<!--Game Page-->
<div id = "page-top">
    <div class = "area game-machine">
        <main id = "gameEl">
            <header class = "area game-header">
                <!--Game Header-->
                {% block header %}
                {% endblock header %}
                <!--Game Header End-->
            </header>
            <div class = "area game-window">
                <!--Game Display-->
                <div id="hiScoreScreenEl">
                    <button id = "startBtnEl" onclick="tryStartUp()"> START </button>
                    <h1>-HIGH SCORES-</h1>
                    {% for score in scores|slice:":7" %}
                        <div class = "score-card">
                            <p class="score-instance">
                                <span class="score-value">{{score.value}}</span>
                                <span class="score-alias">{{score.alias}}</span>
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <form id = "gameDisplayEl" method="post">
                    {{ score_form }}
                    {% csrf_token %}
                    <button id="submitBtnEl" class = "score-area" type="submit">Insert Name</button>
                    <p id="retryTxt" class = "score-area">Press Esc to Retry</p>
                </form>
                <!--Game Display End-->
            </div>
            <div class = "area game-pad">
                <!--Controls-->
                {% block controls %}
                {% endblock controls %}
                <!--Game Controls End-->
            </div>
        </main>
    </div>
</div>
<div id = "page-scores">
    <div class = "area game-machine">
        {% if user.is_authenticated %}
            <!--User Scores-->
            <article class = "area game-scores">
                <h1>Personal Bests</h1>
                {% for score in my_scores|slice:":7" %}
                    <div class = "my-card">
                        <p class="my-date">{{score.created_on|truncatechars:12}}</p>
                        <p class="my-instance">
                            <span class="my-value">{{score.value}}</span>
                            <span class="my-alias">
                                <span>{{score.alias}}</span>
                                <button class="my-btn btn-edit" score_id="{{ score.id }}">✏</button>
                                <button class="my-btn">❌</button>
                            </span>
                        </p>
                    </div>
                {% endfor %}
            </article>
            <!--User Scores End-->
            <div class = "area game-footer">
            </div>
        {% else %}
            <br>
            <div class="img-div">
                <img src = "{% static 'images/dwarf.PNG' %}" alt="">
                <i class="pitch">Track your highest scores with an account!</i>
            </div>
        {% endif %}
    </div>
</div>
<br>
<script src="{% static 'js/tools.js' %}"></script>
<!--Game Page End-->

{% endblock content %}

{% block extras %}
<script src="{% static 'js/scores.js' %}"></script>
{% endblock %}