{% extends "base.html" %}

{% load static %}

{% block head_el %}
<link rel="stylesheet" href="{% static 'css/indexStyles.css' %}">
{% endblock head_el %}

{% block content %}
<!--Menu Page-->
<main class = "menu page-break">
    <div class = "menu-row">
        <div class = "card">
            <div class="thumb">
                <img src = "{% static 'gifs/snake_thumb.gif' %}">
            </div>
            <h1>Snake</h1>
            <div class = "card-container">
                <h3>Personal Best:</h3>
                {% for score in object_list %}
                    <p class="card-score">
                        <span class="score-value">{{score.value}}</span>
                        <span class="score-alias">{{score.alias}}</span>
                    </p>
                {% endfor %}
            </div>
            <div class = "card-buttons">
                <a href="{% url 'snake' %}">PLAY</a>
                <a href="{% url 'snake' %}#page-scores">MY SCORES</a>
            </div>
        </div>
        <div class = "card page-break">
            <div class="thumb">
                <img src = "{% static 'gifs/snake_thumb.gif' %}">
            </div>
            <h1>Frogger</h1>
            <div class = "card-container">
                <h3>Personal Best:</h3>
                {% for score in object_list %}
                    <p class="card-score">
                        <span class="score-value">{{score.value}}</span>
                        <span class="score-alias">{{score.alias}}</span>
                    </p>
                {% endfor %}
            </div>
            <div class = "card-buttons">
                <a href="{% url 'frogger' %}">PLAY</a>
                <a href="{% url 'frogger' %}#page-scores">MY SCORES</a>
            </div>
        </div>
    </div>
</main>
<!--Menu Page End-->
{% endblock %}