{% extends "game/game.html" %}

{% load static %}

{% block tab_title %}
    <title>Snake - Capstone Arcade</title>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'images_snake/snake1head1.png' %}">
{% endblock tab_title %}

{% block header %}
    <!--Snake Header-->
    <div id="headerEl">
        <h1>Snake</h1>
    </div>
    <!--Snake Header End-->
{% endblock header %}

{% block controls %}
    <!--Snake Controls-->
    <div id = "gameControllerEl">
        <button class= "button" id="btnLeftEl" onclick="tryStartUp()">←, A</button>
        <div style="display:flex; flex-flow:column; flex: 1 1 0;">
            <button class= "button" id="btnUpEl" onclick="tryStartUp()">↑, W</button>
            <button class= "button" id="btnDownEl" onclick="tryStartUp()">↓, S</button>
        </div>
        <button class= "button" id="btnRightEl" onclick="tryStartUp()">→, D</button>
    </div>
    <script src="{% static 'js/snake.js' %}" defer></script>
    <script> const ImgsPath = "{% static 'images_snake/' %}"; </script>
    <!--Snake Controls End-->
{% endblock controls %}